body{
  background-color: lightgray;
}
#bildegrid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
#bildegrid img{
width: 100%;
}
@media (max-width: 1400px){
#bildegrid{
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /*pc*/
}
}
@media (max-width: 900px){
#bildegrid{
  grid-template-columns: 1fr 1fr 1fr;
  /*tablet*/
}
}
@media (max-width: 600px){
#bildegrid{
  grid-template-columns: 1fr;
  /*mobil*/
}
}
nav{
  display: flex;
  background-color: grey;
  justify-content: flex-start;
}
nav a{
  padding: 25px;
  text-decoration: none;
  color: black;
}
nav a:hover{
  color: grey;
  background-color: black;
}
@media (max-width: 600px){
nav{
  flex-direction: column;
}
